:root {
  --color-button: linear-gradient(45deg, #662833, #fc4b68);
  --color-button-hover: #ec0c35;
}

*,
:after,
:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "roboto", sans-serif;
}

.container {
  overflow: hidden;
}

header {
  height: 3.4rem;
  display: flex;
  background-color: #efefef;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

header .head-center {
  text-align: center;
}

.head-right {
  display: flex;
  justify-content: flex-end;
  padding-right: 7rem;
}

.Language {
  display: flex;
}

.Language .img {
  width: 3rem;
  background-image: url(../img/vietnam.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.find-store a {
  margin: 0 0.5rem 0 0.5rem;
  color: black;
}

.find-store a:hover {
  text-decoration: underline;
}

.nav {
  width: 100%;
  display: flex;
}

nav {
  display: flex;
  height: 8rem;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 4.8rem 0 4.8rem;
  box-shadow: rgba(196, 196, 196, 0.4) 0px 5px,
    rgba(196, 196, 196, 0.3) 0px 10px, rgba(196, 196, 196, 0.2) 0px 15px,
    rgba(196, 196, 196, 0.1) 0px 20px, rgba(196, 196, 196, 0.05) 0px 25px;
}

nav img {
  width: 5rem;
}

nav .use {
  display: flex;
  justify-content: flex-end;
}

nav .sign-in {
  display: flex;
}

nav .sign-in span:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav .sign-in span {
  padding-left: 0.4rem;
}

nav .seach {
  margin-right: 5rem;
  font-size: 1.7rem;
  position: relative;
}

nav .seach input {
  border: 0;
  outline: none;
  height: 2.5rem;
  width: 15rem;
  font-size: 1.7rem;
}

nav .seach-tablet input {
  width: calc(100% - 2rem);
}

nav .seach-tablet {
  display: none;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 0.7rem;
}

nav .seach-tablet input {
  border: 0;
  outline: none;
  height: 2.5rem;
  font-size: 1.7rem;
}

nav .seach .line {
  position: absolute;
  background-color: black;
  bottom: -5px;
  height: 0.1rem;
  width: 100%;
}

nav .seach-tablet .line {
  bottom: 0px;
  width: calc(100% - 0.7rem);
  position: absolute;
  background-color: black;
  height: 0.1rem;
}

nav .use .sign-in {
  font-size: 2rem;
  margin-right: 4.5rem;
}

nav .cart {
  font-size: 2rem;
  position: relative;
}
nav .cart:hover .bag {
  display: block;
}
nav .bag {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  /* background-color: rgb(247, 71, 71); */
}

.nav {
  display: flex;
}

.nav-bar {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

.nav-ul {
  display: flex;
  padding-left: 2rem;
}

.nav-item :hover {
  cursor: pointer;
  border-bottom: #cf0a2c;
}

.banner .img {
  width: 100%;
  height: 69rem;
  background-image: url(../img/banner-home.jpg);
  background-size: cover;
}

.banner {
  position: relative;
  width: 100%;
}

.text-banner {
  position: absolute;
  top: calc(50% - 16rem);
  left: 0;
  width: 100%;
  z-index: 10;
}

.text-banner .text {
  font-size: 5rem;
}

.text-banner .line {
  width: 10%;
  background: var(--color-button);
  height: 0.3rem;
  margin-top: 4rem;
  margin-right: 36%;
}

.flex {
  display: flex;
}

.text-banner .text2 {
  font-size: large;
  margin: 2rem 0;
}

.text-banner button {
  height: 5.5rem;
  background: var(--color-button);
  border: none;
  color: white;
  margin: 0;
}

.text-banner button:hover {
  cursor: pointer;
  background: var(--color-button-hover);
}

.text-banner button:first-child {
  margin: 0 2rem 0 1.2rem;
}

.how-wear {
  margin-top: 10rem;
  padding: 0 5rem;
}

.how-wear h4 {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.how-wear .wear .img img {
  width: 100%;
}

.how-wear .wear .img {
  text-align: center;
}

.how-wear .wear .img a {
  text-decoration: underline;
  color: black;
  font-size: 1.5rem;
  margin-top: 3rem;
  display: block;
}

.you-look .text {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 10rem;
  margin-bottom: 6.7rem;
}

.product {
  display: flex;
  padding-left: 4.8rem;
  position: relative;
}

.product .image {
  overflow: hidden;
}

.product .item img {
  width: 100%;
  transition: 0.3s ease transform;
}

.product .item:hover .image img {
  transform: scale(1.1);
}

.product > .row {
  width: 137.7rem;
  flex-wrap: nowrap;
  transition: transform 0.3s linear;
}

.name-prive {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem 0;
  justify-content: space-between;
}

.set {
  font-size: 1.4rem;
}

.show-all {
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.show-all button {
  border: 2px solid #cf0a2c;
  color: #cf0a2c;
  padding: 1.5rem;
  background: transparent;
}

.show-all button:hover {
  animation: boder 1s;
  border: 4px solid #cf0a2c;
  cursor: pointer;
}

@keyframes boder {
  from {
    border: 2px solid #cf0a2c;
    height: 100%;
  }
  to {
    border: 4px solid #cf0a2c;
    height: calc(100% - 4px);
  }
}

.kids {
  padding: 0 5rem;
  justify-content: center;
  align-items: center;
}

.kids .img {
  background-image: url(../img/kid.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 65rem;
}

.kids span {
  font-size: 4rem;
}

.kids .line {
  width: 10%;
  background: var(--color-button);
  height: 0.3rem;
  margin-top: 4rem;
  margin-right: 36%;
}

.kids .text2 {
  display: block;
  font-size: large;
  margin: 2rem 0;
}

.kids button {
  height: 5.5rem;
  background: var(--color-button);
  border: none;
  color: white;
  margin-left: 1.2rem;
}

.kids button:hover {
  cursor: pointer;
  background: var(--color-button-hover);
}

.any-age {
  padding-left: 15rem;
}

.you-look .text2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding-left: 6rem;
}

.icon {
  background-color: #ffffff;
  position: absolute;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  top: calc(50% - 4rem);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.icon-right {
  right: 12rem;
}

.icon-left {
  left: 6rem;
}

.singup {
  background-color: black;
  color: white;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  margin-top: 20px;
}

.singup .btn button {
  margin-left: 5px;
  padding: 15px 45px;
  border-radius: 0;
  background: var(--color-button-hover);
  color: white;
  border: none;
}

.singup .text {
  width: 100px;
  font-size: 14px;
}

.singup .btn button:hover {
  background: var(--color-button);
  cursor: pointer;
}

.footer {
  display: flex;
  padding-top: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.footer .list {
  justify-content: center;
  display: flex;
  font-size: 15px;
  width: 84%;
  justify-content: space-around;
  line-height: 40px;
  flex-wrap: wrap;
}

.footer .list .item {
  display: flex;
  flex-direction: column;
}

.footer .box {
  align-items: center;
  height: 20px;
  padding-left: 20px;
}

.video {
  position: relative;
  margin-top: 3.5rem;
  text-align: center;
}

video {
  width: calc(100% - 10rem);
  background-image: url(../img/img-video.png);
}

.video svg {
  position: absolute;
  top: calc(50% - 4rem);
  left: calc(50% - 4rem);
}

.video svg ellipse {
  fill: rgba(73, 73, 73, 0.705);
}

.video svg polygon {
  fill: #e9e9e9;
}
.bar {
  display: none;
}
.nav_mob {
  display: none;
}

/* login */

.khung_dang_nhap {
  max-width: 960px;
  margin: 25px auto;
  padding: 150px 10px;
}
.khung_dang_nhap #mess_err {
  padding: 25px;
  padding-left: 5px;
  border-radius: 5px;
  color: orange;
  font-size: 2rem;
}
.khung_dang_nhap .top2 {
  margin: 20px auto;
  display: flex;
  color: #3a3a3a;
  justify-content: space-between;
}

.khung_dang_nhap .top2 a {
  color: rgb(255, 47, 47);
  text-decoration: none;
}

.khung_dang_nhap .dangnhap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.khung_dang_nhap .dangnhap .input > p {
  margin: 25px 0px 7px 0;
  font-size: 20px;
}

.khung_dang_nhap .dangnhap .input input {
  width: 100%;
  height: 5rem;
  font-size: 1.7rem;
  outline: none;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #cecece;
}

.khung_dang_nhap .dangnhap .input {
  width: 55%;
}

.khung_dang_nhap .dangnhap .input a {
  color: rgb(255, 47, 47);
  text-decoration: none;
  float: right;
  margin-top: 10px;
}

.khung_dang_nhap .dangnhap .nut {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.khung_dang_nhap .dangnhap .nut a {
  width: 100%;
}

.khung_dang_nhap .dangnhap .nut .btn {
  color: rgb(255, 255, 255);
  height: 6rem;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 10px;
  background-color: rgb(24, 119, 242);
  border-radius: 4px;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
}

.khung_dang_nhap .dangnhap .nut .btn-strong {
  height: 7rem;
  background-color: #e4393c;
}

.khung_dang_nhap .dangnhap .nut .hoac {
  width: 300px;
  display: flex;
  margin-bottom: 10px;
  color: #cecece;
}

.khung_dang_nhap .dangnhap .nut .gach {
  width: 100%;
  height: 1px;
  margin-top: 8px;
  line-height: 1px;
  background-color: #cecece;
}

.khung_dang_nhap .dangnhap .nut .fab {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 20px;
  padding: 0 5px;
}

.khung_dang_nhap .dangnhap .nut .fa-google-plus-square {
  margin-left: -12px;
}

.khung_dang_nhap .input span {
  font-size: 1.6rem;
}

.khung_dang_nhap iframe {
  height: 70vh;
}

.khung_dang_nhap a,
.khung_dang_nhap p {
  font-size: 1.4rem;
}

@media (max-width: 739px) {
  .dangnhap {
    flex-direction: column;
  }
  .khung_dang_nhap .dangnhap .input {
    width: 100%;
  }
  .khung_dang_nhap .dangnhap .nut {
    width: 100%;
  }
  iframe {
    height: 90vh;
  }
}

@media (max-width: 1113px) {
  .nav-ul,
  .seach,
  .sign-in {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .seach-tablet {
    display: block !important;
  }
  .text-banner {
    position: relative;
    padding: 2rem;
  }
  .text-banner button:first-child {
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .banner .img {
    background-image: url(../img/banner-home2.jpg);
  }
  .any-age {
    padding: 0px;
  }
  .kids {
    padding: 2rem;
  }
  .kids button {
    width: 100px;
    height: 7rem;
    margin: 0rem 0.7rem 5rem 0.7rem;
  }
  .product {
    padding: 0 4px;
  }
  .you-look {
    padding-left: 0;
  }
  .you-look .text2 {
    margin-top: 5rem;
    padding-left: 1.5rem;
  }
  .bar {
    display: block;
    font-size: 2rem;
    padding-left: 2rem;
  }
  .nav_mob {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 100000;
    transition: 0.3s ease transform;
    animation: slip_out 1s;
  }
  @keyframes slip_in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slip_out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
      display: none;
    }
  }
  .nav_mob .taitel {
    padding: 0 0.5rem;
    background-color: #e9e9e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
  }
  .nav_mob .nav-ul {
    color: black;
    padding: 0 0.5rem;
    display: block;
    font-size: 1.8rem;
    line-height: 2.3rem;
    padding: 0;
  }
}

@media (max-width: 739px) {
  video {
    width: calc(100% - 3rem);
  }
  .product > .row {
    flex-wrap: wrap;
  }
  .icon-left {
    display: none;
  }
  .icon-right {
    display: none;
  }
  .kids .img {
    height: 40rem;
  }
  .kids {
    height: auto;
  }
  .how-wear {
    padding: 0 1.5rem;
  }
  .footer .list {
    width: 100%;
  }
  .footer .list .item {
    width: 40%;
  }
}

/* product */
#list_products {
  padding-top: 40px;
}
#list_products .box-product {
  padding: 0 4.8rem;
  padding-top: 25px;
}

#list_products .filter_category {
  font-size: 15px;
}

#list_products .filter_category ul > li {
  border: 1px solid rgb(117, 117, 117);
  border-left: 0;
  border-right: 0;
  padding: 15px 0;
  font-size: 1.7rem;
}

#list_products .product-grid {
  width: 75%;
}

#list_products .product-grid header {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 17px;
  padding-bottom: 30px;
}

#list_products .product-grid header {
  justify-content: space-between;
}

#list_products .product-grid header .name h4 {
  font-size: 30px;
}

#list_products .product-grid header .name span {
  font-size: 16px;
}

#list_products .product-grid header .filter {
  display: flex;
}

#list_products .product-grid header .filter select {
  border: 0;
  border-bottom: 2px solid black;
  font-size: 17px;
  outline: none;
  margin-left: 25px;
}

#list_products .product-grid header .filter .hidefilter {
  cursor: pointer;
}

#list_products .product-grid .box-item {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 20px;
  padding-bottom: 20px;
}

#list_products .list-filter {
  width: 100%;
}

#list_products .product-grid .box-item .img {
}

#list_products .product-grid .box-item .img img {
  width: 100%;
}

#list_products .product-grid .box-item .information .name {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#list_products .product-grid .box-item .information .name h6,
#list_products .product-grid .name span {
  font-size: 18px;
  font-weight: 500;
}

#list_products .product-grid .box-item .information > span {
  font-size: 15px;
  padding: 15px 0;
  display: block;
}

#list_products .product-grid .box-item .information .img-color img {
  width: 15%;
  cursor: pointer;
}

#list_products .product-grid footer {
  margin: 20px 0;
  text-align: center;
}

#list_products .product-grid footer .text {
  padding: 20px 0;
  font-size: 16px;
}

#list_products .product-grid footer button {
  font-size: 17px;
  font-weight: 500;
  padding: 20px 90px;
  background-color: transparent;
  color: #cf0a2c;
  border: 4px solid transparent;
  outline: 2px solid #cf0a2c;
  cursor: pointer;
  border-radius: 0;
}

#list_products .product-grid footer button:hover {
  animation: boder 1s;
  border: 4px solid #cf0a2c;
}

@keyframes boder {
  from {
    border: 2px solid #cf0a2c;
    height: 100%;
  }
  to {
    border: 4px solid #cf0a2c;
    height: calc(100% - 4px);
  }
}

@media (max-width: 1113px) {
  #list_products .product {
    flex-direction: column;
  }
  #list_products .list-filter ul {
    display: flex;
    padding-bottom: 1.5rem;
  }
  #list_products .filter_category ul > li {
    border-top: 0;
    padding-left: 15px;
  }
  #list_products .l-9 {
    width: 100%;
  }
  #list_products .product-grid {
    width: 100%;
  }
}

@media (max-width: 739px) {
  #list_products .product-grid {
    padding-top: 1.5rem;
  }
  #list_products .box-product {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  #list_products .product-grid .box-item {
    grid-template-columns: 48% 48%;
  }
}

/* regiter */
#thongtin {
  width: 60%;
  margin: auto;
}
#thongtin h6 {
  margin: 0px;
  font-size: 23px;
}
#thongtin .tieude {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

#thongtin .gach {
  border: 1px solid rgba(255, 255, 255, 0.541);
  width: 50%;
}

#thongtin .container {
  border: 1px solid rgba(201, 238, 253, 0.774);
  box-shadow: 2px 2px 8px 8px rgb(209, 209, 209);
  border-radius: 7px;
  width: 500px;
  min-height: 500px;
  margin-left: 345px;
  margin-top: 25px;
  background-color: rgb(235, 235, 235);
}

#thongtin .thongtin {
  max-width: 500px;
  margin: auto;
  padding: 0 25px;
  color: rgba(243, 243, 243, 0.596);
  font-size: 20px;
}

#thongtin .check {
  line-height: 25px;
  height: 12px;
  margin-top: 13px;
}

#thongtin input {
  font-size: 1.3rem;
  width: 100%;
}

#thongtin #gioitinh {
  border: 1px solid rgb(167, 167, 167);
  display: flex;
  flex-direction: row;
  border-radius: 3px;
}

#thongtin .radio {
  width: 22px;
  margin: 0 7px;
}

#thongtin .checkbox {
  width: 20px;
  margin: 0 7px;
  margin-top: 5px;
}

#thongtin .checkradio {
  margin-top: 6px;
}

#thongtin #sothich {
  border: 1px solid rgb(167, 167, 167);
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  margin: 5px 0px;
  line-height: 39px;
}

#thongtin select {
  width: 100%;
  height: 30px;
  background-color: rgb(235, 235, 235);
  margin: 5px 0px;
}

#thongtin .ghichu {
  width: 100%;
  height: 100px;
  margin: 5px 0px;
}

#thongtin .btn .dk {
  text-align: center;
  background-color: transparent;
}

#thongtin .dk {
  height: 50px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
#thongtin .dk :hover {
  color: rgb(255, 255, 255);
}

#thongtin .btn {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
#thongtin .btn a {
  display: flex;
  justify-content: center;
}
#thongtin .btn a span {
  align-self: center;
}

#thongtin .thongbao {
  display: none;
  font-size: 1rem;
}
#thongtin .mess {
  border-radius: 5px;
  color: orange;
  font-size: 2rem;
}
#thongtin label {
  margin-top: 1.8rem;
  display: block;
}

.animated-button {
  width: 300px;
}
/* Global Button Styles */
.khung_dang_nhap .animated-button,
.khung_dang_nhap .animated-button {
  position: relative;
  display: block;
  margin: 30px auto 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.animated-button:after,
.animated-button:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
.animated-button:hover,
.animated-button:hover {
  color: #fff;
  text-shadow: none;
}
.animated-button:hover:after {
  height: 450%;
}
.animated-button {
  position: relative;
  display: block;
  margin: 30px auto 0;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animated-button input {
  background-color: transparent;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
}
input[type="submit"] {
  cursor: pointer;
  height: 100%;
}
.animated-button.victoria-one {
  border: 2px solid #d24d57;
}
.animated-button.victoria-one:after {
  background: #d24d57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
.animated-button.victoria-two {
  border: 2px solid #d24d57;
}
.animated-button.victoria-two:after {
  background: #d24d57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
@import url("https://rsms.me/inter/inter.css");
:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fa2500;
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  --size-bezel: 0.5rem;
  --size-radius: 4px;
  color: var(--color-text);
  background: var(--color-background);
}

.input {
  position: relative;
  font-size: 15px;
}
.input__label {
  position: absolute;
  left: 5px;
  top: 0;
  font-size: 15px;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
  user-select: none;
}
.input__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
}
.input__field:not(:-moz-placeholder-shown) + .input__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
}
.input__field:not(:-ms-input-placeholder) + .input__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
}
.input__field:focus + .input__label,
.input__field:not(:placeholder-shown) + .input__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
}

/* bag */

#bag nav .nav {
  display: flex;
}

#bag .wrap {
  overflow: hidden;
}

#bag nav {
  max-width: 1555px;
  width: 100%;
  margin: auto;
}

#bag .container {
  max-width: 1425px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 73% 24%;
  grid-gap: 15px 20px;
  margin-top: 50px;
}

#bag .gio-sanpham {
  background-color: #fff;
  padding: 15px 0 20px 30px;
  display: inline-block;
  border: 1px solid rgb(187, 187, 187);
}

#bag #tinnhan {
  text-align: center;
  background-color: white;
  font-size: 18px;
  padding: 30px;
  border-radius: 5px;
}

#bag #tinnhan img {
  width: 150px;
}

#bag #tinnhan button {
  width: 150px;
  height: 35px;
  font-size: 16px;
  background-color: #ff7458d7;
}

#bag #tinnhan button:hover {
  background-color: #ff4d2a;
}

#bag table {
  width: 100%;
}

#bag tr {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 10% 10% 30%;
  align-items: center;
  justify-content: space-around;
  border-top: 3px solid rgb(235, 235, 235);
}

#bag td,
#bag th {
  font-size: 1.4rem;
}

#bag thead tr {
  border: none;
}

#bag td {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#bag tbody td:last-child {
  padding: 0 25px;
}

#bag tbody td i {
  font-size: 2rem;
}

#bag .text--img {
  display: flex;
  padding: 15px 0px;
  align-items: center;
  justify-content: flex-start;
}

#bag .text--img img {
  width: 100px;
}

#bag .text--img > span {
  padding-top: 5px;
  padding-left: 5px;
  width: 70%;
}

#bag .o-lon {
  padding-right: 120px;
  padding-bottom: 5px;
}

#bag .soluong-box {
  min-width: 90px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.1rem;
  background-color: #f3f4f4;
}

#bag .tru {
  padding-left: 2px;
  font-size: 2rem;
}

#bag .cong {
  font-size: 1.8rem;
  line-height: 2rem;
}

#bag .soluong-box .soluong {
  min-width: 44px;
  height: calc(100% - 2px);
  font-size: 1.4rem;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  margin-left: 5px;
}

#bag .thanhtien {
  display: flex;
  font-size: 1.4rem;
  text-align: center;
}

#bag .tiptucdoihang {
  position: relative;
  min-width: 270px;
  max-height: 300px;
  background-color: #fff;
  float: right;
  padding: 32px 22px 15px 15px;
  border: 1px solid rgb(187, 187, 187);
}

#bag .tieptuc {
  position: absolute;
  right: 0;
  top: -35px;
  font-size: 1.4rem;
  color: #afafaf;
  padding: 2px 0px;
}

#bag .text {
  font-size: 1.8rem;
  padding-bottom: 15px;
  color: #3c3c3c;
}

#bag .tien {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

#bag .thongtin {
  min-width: 60px;
  padding: 15px 0;
  font-size: 1.4rem;
}

#bag .thanhtoan {
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  background-color: #ee4d2d;
  border: 0px;
  outline: none;
  color: #f3f3f3;
}

#bag .thanhtoan:hover {
  cursor: pointer;
}

#bag .giaohang {
  min-width: 900px;
  min-height: 44px;
  background-color: #fff;
  font-size: 1.4rem;
  text-align: center;
  line-height: 4.4rem;
  border: 1px solid rgb(187, 187, 187);
}

#bag .far {
  display: block;
  text-align: center;
}

#bag .you-look {
  margin: 20px 0;
}

@media (max-width: 1113px) {
  .container {
    grid-template-columns: 100%;
    padding: 0 0.5rem;
  }
  tr {
    grid-template-columns: 58% 15% 15% 20%;
  }
  tbody td:last-child {
    flex-direction: column;
  }
  tbody td i {
    margin-top: 15px;
  }
}

@media (max-width: 739px) {
  thead th:nth-child(2),
  thead th:nth-child(3),
  thead th:nth-child(4) {
    display: none;
  }
  tr {
    grid-template-columns: 100%;
    grid-gap: 0;
  }
  tbody td:nth-child(4) {
    display: none;
  }
  tbody td:nth-child(3) {
    grid-area: 2 / 1 / 2 / 2;
    font-size: 1.8rem;
    color: #ee4d2d;
  }
  tbody td {
    justify-content: flex-start;
    margin-left: 100px;
  }
  .soluong-box {
    min-width: 120px;
    height: 40px;
    font-size: 2rem;
    margin: 0.3rem 0;
  }
  tbody td:first-child {
    margin: 0;
  }
  .text--img {
    padding-bottom: 0;
  }
  .tieptuc {
    display: none;
  }
}
.all {
  overflow: hidden;
  width: 100%;
}

.tt {
  padding: 0 4.3rem;
  margin-top: 5rem;
}

.tt .image img {
  width: calc(50% - 10px);
}

.name {
  position: relative;
  margin-bottom: 3rem;
}

.name .text h1 {
  line-height: 4.6rem;
  font-size: 3rem;
}

.name .text span {
  font-size: 1.6rem;
}

.name .price {
  position: absolute;
  font-size: 1.6rem;
  bottom: 0;
  right: 0;
}

.select-type img {
  width: 4.5rem;
}

.name-type {
  font-size: 1.4rem;
  padding: 2rem 0;
}

h4 {
  font-size: 1.4rem;
}

.Select-size .size {
  display: flex;
  flex-wrap: wrap;
}

.Select-size .box-size {
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background-color: #f8f8f8;
}

.fa-trash-alt:hover {
  cursor: pointer;
}

.Select-size .box-size:hover {
  border: 0.2rem solid rgb(41, 41, 41);
  cursor: pointer;
}

.btn button {
  width: 100%;
  padding: 2rem 0;
  background-color: #cf0a2c;
  color: white;
  margin-top: 3rem;
  border: 0;
  font-style: bold;
}

.btn button:hover {
  background-color: #cf0a2be1;
  cursor: pointer;
}

.reviews {
  display: flex;
  font-size: 14px;
  padding: 20px;
  padding-left: 0;
}

.reviews .text {
  padding-left: 10px;
}

.support {
  height: 5vh;
  display: flex;
  align-items: center;
}

.support i {
  font-size: 20px;
}

.support span {
  font-size: 14px;
  font-size: bold;
  padding-left: 10px;
  text-decoration: underline;
}

.support span:hover {
  cursor: pointer;
}

.taitel {
  padding: 20px 0;
  font-size: 14px;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translatex(calc(100% - 32px));
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

.mainthongbao {
  width: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 3px;
  border-left: 4px solid #47d864;
  padding: 20px 0;
  animation: slide ease 0.3s, fade linear 1s 2s forwards;
}

#thongbao {
  position: fixed;
  top: 8.2rem;
  right: 32px;
  transition: all linear 0.3s;
}

.mainthongbao + .mainthongbao {
  margin-top: 20px;
}

.text {
  flex: 1;
}

.fa-check-circle {
  font-size: 24px;
  color: #47d864;
}

.fa-times-circle {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.fa-times-circle:hover {
  color: rgb(134, 134, 134);
}

.fa-check-circle,
.fa-times-circle {
  padding: 0 16px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.namesp {
  margin-top: 3px;
  font-size: 14px;
  color: #888;
  display: block;
}

@media (max-width: 1113px) {
  .tt {
    padding: 0 2rem;
  }
}

@media (max-width: 739px) {
  .tt .image img {
    width: 100%;
  }
}

/* chi tiết */

.tt .all {
  overflow: hidden;
  width: 100%;
}

.tt {
  padding: 0 4.3rem;
  margin-top: 5rem;
}

.tt .image img {
  width: calc(50% - 10px);
}

.tt.name {
  position: relative;
  margin-bottom: 3rem;
}

.tt.name .text h1 {
  line-height: 4.6rem;
  font-size: 3rem;
}

.tt.name .text span {
  font-size: 1.6rem;
}

.tt.name .price {
  position: absolute;
  font-size: 1.6rem;
  bottom: 0;
  right: 0;
}

.tt.select-type img {
  width: 4.5rem;
}

.name-type {
  font-size: 1.4rem;
  padding: 2rem 0;
}

h4 {
  font-size: 1.4rem;
}

.Select-size .size {
  display: flex;
  flex-wrap: wrap;
}

.Select-size .box-size {
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background-color: #f8f8f8;
}

.fa-trash-alt:hover {
  cursor: pointer;
}

.Select-size .box-size:hover {
  border: 0.2rem solid rgb(41, 41, 41);
  cursor: pointer;
}

.btn button {
  width: 100%;
  padding: 2rem 0;
  background-color: #cf0a2c;
  color: white;
  margin-top: 3rem;
  border: 0;
  font-style: bold;
}

.btn button:hover {
  background-color: #cf0a2be1;
  cursor: pointer;
}

.reviews {
  display: flex;
  font-size: 14px;
  padding: 20px;
  padding-left: 0;
}

.reviews .text {
  padding-left: 10px;
}

.support {
  height: 5vh;
  display: flex;
  align-items: center;
}

.support i {
  font-size: 20px;
}

.support span {
  font-size: 14px;
  font-size: bold;
  padding-left: 10px;
  text-decoration: underline;
}

.support span:hover {
  cursor: pointer;
}

.taitel {
  padding: 20px 0;
  font-size: 14px;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translatex(calc(100% - 32px));
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

.mainthongbao {
  width: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 3px;
  border-left: 4px solid #47d864;
  padding: 20px 0;
  animation: slide ease 0.3s, fade linear 1s 2s forwards;
}

#thongbao {
  position: fixed;
  top: 8.2rem;
  right: 32px;
  transition: all linear 0.3s;
}

.mainthongbao + .mainthongbao {
  margin-top: 20px;
}

.text {
  flex: 1;
}

.fa-check-circle {
  font-size: 24px;
  color: #47d864;
}

.fa-times-circle {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.fa-times-circle:hover {
  color: rgb(134, 134, 134);
}

.fa-check-circle,
.fa-times-circle {
  padding: 0 16px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.namesp {
  margin-top: 3px;
  font-size: 14px;
  color: #888;
  display: block;
}

@media (max-width: 1113px) {
  .tt {
    padding: 0 2rem;
  }
}

@media (max-width: 739px) {
  .tt .image img {
    width: 100%;
  }
}
